GOSHORTENER_DB_CONNECTION_STRING=goshortener:securePass@tcp(127.0.0.1:3306)/goshortener_db?charset=utf8&parseTime=True&loc=Local
GOSHORTENER_DB_DRIVER=mysql
GOSHORTENER_BASE_REDIRECT_SERVER=http://127.0.0.1/r/
GOSHORTENER_SHORTENER_BASE=0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ